.layout {
  display: flex;
  position: relative;

  &_elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    padding: VW(16);
    width: VW(630);
    p {
      width: VW(400);
    }
  }

  .page {
    margin-left: VW(660);
  }

  .line {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: $g-90;
    opacity: 0.3;
    width: 1px;
  }

  .works_list {
    position: fixed;
    right: 0;
    height: 100dvh;
    overflow: scroll;
    
    padding: VW(16);
    border-left: 0.1vw solid #c0c0c030;
    
    &::-webkit-scrollbar {
      display: none;
    }
    
    &_scroll {
      // overflow: scroll;
      height: min-content;

      display: flex;
      flex-direction: column;
      gap: VW(16);

      
    }

    &_image {
      width: VW(80);
      height: VW(110);
      display: block;
      position: relative;

      filter: brightness(0.5);
      transition: filter .3s ease;
      
      @include hover {
        filter: brightness(1);
      }

      &_active {
        filter: brightness(1);
      }
    }
  }
}
