@font-face {
  font-family: NeueMontreal;
  src: url("/fonts/NeueMontreal/PPNeueMontreal-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CaslonDoric;
  src: url("/fonts/CaslonDoric/CaslonDoricExtended-Extrabold-Trial.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
}

