$c-white: #fff;
$c-black: #000;

$g-100: #787878;
$g-90: #c0c0c0;

$Ease1: cubic-bezier(.76,0,.24,1);

/* -- Media Query Breakpoints -- */
$phone: 320;
$phablet: 556;
$tablet: 768;
$tablet-large: 1024;
$laptop: 1199;
$desktop: 1440;
