.home {
  &_image {
    background-color: red;
    display: block;
    width: VW(300);
    height: VW(420);
    
    @include forMobile {
      width: 40vw;
      height: 50vw;
    }

    &_scroll {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      bottom: 0;
      // overflow: auto;
    }

    &_wrapper {
      display: flex;
      flex-direction: column;
      gap: VW(80);
      margin-top: VW(80);
    }
  }
  .infine_scroll_wrapper {
    height: calc(100vh - VW(80));
    overflow: clip;
  }
}