.work_details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: VW(16);
  height: 95vh;

  .top {
    display: flex;
    flex-direction: column;
    gap: VW(15);
    
    .paragraph {
      width: VW(530);
    }
  }

  .video {
    &_preview {
      width: 100%;
      height: 100%;
      &_wrapper {
        overflow: clip;
        width: VW(930);
        height: VW(530);
      }
    }

    &_main {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 100;
      transform-origin: center;
      width: VW(1280);
      height: VW(720);
      // inset: 10vw;

      &_wrapper {
        inset: 0;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &_bg {
        position: absolute;
        inset: 0;
        // background-color: #0000008c;
        z-index: 1;
        display: block;
        transition: all .3s ease;
        @include hover {
          // background-color: #000000be;
        }
      }
    }
  }

  .background {
    width: 100%;
    height: 100%;
    &_wrapper {
      position: fixed;
      inset: 0;
      z-index: -1;
      filter: blur(10vw);
      opacity: .5;
    }
  }
}